<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Experts - Destinations</title>
  <%- include('./partials/css'); %> 
</head>
<body>
  <%- include('./partials/nav'); %>
  <figcaption><%= item.title %></figcaption>
  <figure >
    <img src="http://picsum.photos/id/<%= item.id %>/350" alt="<%= item.title %>">
      <ul>
        <p><%=intro %></p><br>
        <li>-<%= fact1 %></li>
        <li>-<%= fact2 %></li>
        <li>-<%= fact3 %></li>
        <li>-<%= fact4 %></li>
        <li>-<%= fact5 %></li>
        <li>-<%= fact6 %></li>
      </ul>
  </figure>
  <script src="js/toggle.js"></script>
  <%- include('./partials/footer'); %>
</body>
</html>
