<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%- include('./partials/css'); %>

  <title>Travel Experts - Destinations</title>
</head>

  <%- include('./partials/nav'); %>

  <figcaption><%= title %></figcaption>

  <figure>
    <img src="http://picsum.photos/id/<%= id %>/400" alt="<%= title %>">
    <%= intro %><br>
    <%-%>
    --<%= fact1 %><br>
    <%-%>
    --<%= fact2 %><br>
    <%-%>
    --<%= fact3 %><br>
    <%-%>
    --<%= fact4 %>
  </figure>

  <%- include('./partials/footer'); %>

  <script src="js/toggle.js"></script> 
  
</html>
