<%- include('./partials/head'); %>

  <title>Travel Experts - Destinations</title>

  <%- include('./partials/nav'); %>

  <figcaption><%= title %></figcaption>

  <figure>
    <img src="http://picsum.photos/id/<%= id %>/350" alt="<%= title %>">
    <p><%= intro %><br>
    --<%= fact1 %><br>
    --<%= fact2 %><br>
    --<%= fact3 %><br>
    --<%= fact4 %></p>
  </figure>

  <%- include('./partials/footer'); %>

  <script src="js/toggle.js"></script> 
  

