<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%- include('./partials/css'); %>

  <title>Travel Experts - Destinations</title>
</head>
<body>
  
  <%- include('./partials/nav'); %>

  <figcaption><%= title %></figcaption>

  <figure>
    <img src="http://picsum.photos/id/<%= id %>/350" alt="<%= title %>">
      <ul>
        <%= intro %><br>
        <li><%= fact1 %></li>
        <li><%= fact2 %></li>
        <li><%= fact3 %></li>
        <li><%= fact4 %></li>
        <li><%= fact5 %></li>
        <li><%= fact6 %></li>
      </ul>
  </figure>

  <%- include('./partials/footer'); %>

  <script src="js/toggle.js"></script> 
  
</body>
</html>
