<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%- include('./partials/css'); %>

  <title>Travel Experts - Destinations</title>
</head>

  <%- include('./partials/nav'); %>

  <figure>
    <figcaption><%= title %></figcaption>
    <img src="http://picsum.photos/id/<%= id %>/400" alt="<%= title %>">
    <p><%= intro %><br>
    <br>-<%= fact1 %><br>
    <br>-<%= fact2 %><br>
    <br>-<%= fact3 %></p>
  </figure>

  <%- include('./partials/footer'); %>

  <script src="js/toggle.js"></script> 
  
</html>
